/*
  Mobile
*/

.gameboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gameboard .loading,
.gameboard p {
  grid-column: span 2;
}

.gameboard p {
  margin-bottom: 2rem;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .gameboard {
    grid-template-columns: repeat(3, 1fr);
  }

  .gameboard .loading,
  .gameboard p {
    grid-column: span 3;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  .gameboard {
    grid-template-columns: repeat(4, 1fr);
  }

  .gameboard .loading,
  .gameboard p {
    grid-column: span 4;
  }
}
