/*
  Mobile
*/

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main .loading,
main p {
  grid-column: span 2;
}

main p {
  margin-bottom: 2rem;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  main .loading,
  main p {
    grid-column: span 3;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }

  main .loading,
  main p {
    grid-column: span 4;
  }
}
