/*
  Mobile
*/

.gameboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gameboard .heading-container {
  grid-column: 1 / -1;
}

.gameboard .loading {
  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .gameboard {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  .gameboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (prefers-reduced-motion: reduce) {
  .gameboard .loading {
    animation: none;
  }
}
