/*
  Mobile
*/

.scoreboard {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  .score-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }
}
