.select-difficulty ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.select-difficulty li::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
}

.select-difficulty li.selected::before {
  background: url('../assets/images/lightning-bolt.svg');
  background-size: 20px;
}

.select-difficulty li {
  display: flex;
  align-items: center;
}
