/*
  Variables
*/

:root {
  --gray-200: #eee;
  --gray-400: #bdbdbd;
  --gray-900: #212121;
  --white: #fff;
  --white-opacity-95: rgba(255, 255, 255, 95%);
}

/*
  Typography
*/

@font-face {
  font-family: 'Harry P';
  src:
    url('./assets/fonts/HarryP.woff2') format('woff2'),
    url('./assets/fonts/HarryP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lumos';
  src:
    url('./assets/fonts/Lumos.woff2') format('woff2'),
    url('./assets/fonts/Lumos.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Literata';
  src:
    url('./assets/fonts/Literata-Regular.woff2') format('woff2'),
    url('./assets/fonts/Literata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Literata, 'Times New Roman', Times, serif;
  color: var(--gray-900);
}

h1 {
  font-family:
    Harry P,
    'Times New Roman',
    Times,
    serif;
  font-size: 6rem;
  line-height: 1;
}

h2,
h3,
h4 {
  font-family: Lumos, 'Times New Roman', Times, serif;
  line-height: 1;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Shared
*/

body {
  background: url('./assets/images/wallpaper.jpg');
}

.main-container {
  background: var(--white);
  border: 10px groove var(--gray-200);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

button.primary {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  max-width: 350px;
}

button.primary .front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

button.primary:hover .front {
  transform: translateY(-4px);
}

button.primary:active .front {
  transform: translateY(-2px);
}

button.secondary {
  border: none;
  background: none;
}
